# Playground Series - Season 3, Episode 6

**Dataset Description**

The dataset (both train and test) was generated from a deep learning model trained on the Paris Housing Price Prediction. Feature distributions are close to, but not exactly the same, as the original.

**Files**

* **train.csv** - the training dataset; price is the target
* **test.csv** - the test dataset; your objective is to predict price
* **sample_submission.csv** - a sample submission file in the correct format

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

## Загрузка данных

In [5]:
def open_file(name):
    try:
        return pd.read_csv(
            Path('C:/Users/Счастливый/Desktop/project/playground_series_3_6/' + name)
            )
    except:
        print('Error!')

In [8]:
train = open_file('train.csv')
test = open_file('test.csv')
sample_submission = open_file('sample_submission.csv')

In [7]:
train.head(3)

,id,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,0,34291,24,1,0,47,35693,2,1,2000,0,1,8,5196,369,0,3,3436795.2
1,1,95145,60,0,1,60,34773,1,4,2000,0,1,729,4496,277,0,6,9519958.0
2,2,92661,45,1,1,62,45457,4,8,2020,1,1,7473,8953,245,1,9,9276448.1

In [9]:
test.head(3)

,id,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom
0,22730,47580,89,0,1,8,54830,5,3,1995,0,0,6885,8181,241,0,8
1,22731,62083,38,0,0,87,8576,10,3,1994,1,1,4601,9237,393,1,4
2,22732,90499,75,1,1,37,62454,9,6,1997,0,1,7454,2680,305,0,2

In [10]:
sample_submission.head(3)

      id        price
0  22730  4634456.897
1  22731  4634456.897
2  22732  4634456.897

In [13]:
# функция для преобразования названий столбцов из CamelCase в snake_case
def camel_to_snake(data):
    col = []
    for row in data.columns:
        index = [i for i, c in enumerate(row) if c.isupper()]
        count = -1
        y=0
        for i in index:
            if (i!=0) and (i!=y):
                count += 1
                row = row[:i+count] + '_' + row[i+count:]
            y=i+1
        col.append(row.lower())
    return col

In [16]:
train.columns = camel_to_snake(train)
test.columns = camel_to_snake(test)

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22730 entries, 0 to 22729
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   22730 non-null  int64
 1   square_meters        22730 non-null  int64
 2   number_of_rooms      22730 non-null  int64
 3   has_yard             22730 non-null  int64
 4   has_pool             22730 non-null  int64
 5   floors               22730 non-null  int64
 6   city_code            22730 non-null  int64
 7   city_part_range      22730 non-null  int64
 8   num_prev_owners      22730 non-null  int64
 9   made                 22730 non-null  int64
 10  is_new_built         22730 non-null  int64
 11  has_storm_protector  22730 non-null  int64
 12  basement             22730 non-null  int64
 13  attic                22730 non-null  int64
 14  garage               22730 non-null  int64
 15  has_storage_room     22730 non-null  int64
 16  has_guest_room       22730 non-null  int64
 17  price                22730 non-null  float64
dtypes: float64(1), int64(17)
memory usage: 3.1 MB

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15154 entries, 0 to 15153
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   15154 non-null  int64
 1   square_meters        15154 non-null  int64
 2   number_of_rooms      15154 non-null  int64
 3   has_yard             15154 non-null  int64
 4   has_pool             15154 non-null  int64
 5   floors               15154 non-null  int64
 6   city_code            15154 non-null  int64
 7   city_part_range      15154 non-null  int64
 8   num_prev_owners      15154 non-null  int64
 9   made                 15154 non-null  int64
 10  is_new_built         15154 non-null  int64
 11  has_storm_protector  15154 non-null  int64
 12  basement             15154 non-null  int64
 13  attic                15154 non-null  int64
 14  garage               15154 non-null  int64
 15  has_storage_room     15154 non-null  int64
 16  has_guest_room       15154 non-null  int64
dtypes: int64(17)
memory usage: 2.0 MB

In [19]:
train.duplicated().sum()

0

In [20]:
test.duplicated().sum()

0

**Выводы:**

* Данные загружены успешно;
* Пропуски отсутствуют;
* Дубликаты отсутствуют;
* Все признаки количественные;
* Для удобства привели названия столбцов к snake_case формату.

## EDA